.navigation__menu {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.navigation__link {
  padding-right: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: black;
}

.navigation__link:last-of-type {
  padding-right: 0;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation_color {
  color: white;
}

.navigation__account_icon {
  height: 11px;
  width: 11px;
  padding: 7px;
  border-radius: 50%;
  background-color: #F9F9F9;
  margin-left: 8px;
}

.navigation__account {
  padding: 0px 3px 0px 5px;
  background-color: white;
  border-radius: 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: black;
  border: 2px solid #F9F9F9;
  justify-content: center;
  display: flex;
  align-items: center;
  max-height: 32px;
}