.register {
  flex-direction: column;
  align-items: center;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 74px 0px 40px;
  text-align: left;
  width: 396px;
}

.register__form {
  max-width: 396px;
  width: 100%;
}

.register__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.register__label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  padding: 0px 0px 11px;
  margin-bottom: 7px;
}

.register__label:last-of-type {
  border-bottom: none;
}

.register__input {
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding: 4px 0 0;
}

.register__input:focus {
  outline: none;
}

.register__error {
  display: block;
  min-height: 17px;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #FF004C;
}

.register__button {
  margin: 130px 0px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: #3456F3;
  color: white;
  width: 396px;
  padding: 13px 0;
  border-radius: 3px;
  border: none;
}

.register__signin {
  all: unset;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 70px;
  color: #A0A0A0;
}

.register__link {
  text-decoration: none;
  color: #3456F3;
}