.movies-cardlist {
  display: flex;
  flex-direction: column;
  padding: 70px 70px 99px;
}

.movies-cardlist__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  row-gap: 38px;
  column-gap: 20px;
  list-style-type: none;
  padding: 0 0 60px;
  margin: 0;
}

.movies-cardlist__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: #F9F9F9;
  text-align: center;
  color: black;
  border-radius: 6%;
  border: none;
  width: 320px;
  padding: 10px 0px;
  align-self: center;
}

.movies-cardlist__button:hover {
  cursor: pointer;
  background-color: #F8F8F8;
}