.login {
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.login__container {
  max-width: 396px;
  width: 100%;
}

.login__logo {
  width: 38px;
  height: 38px;
}

.login__logo:hover {
  opacity: 0.6;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 36px 0px 40px;
  text-align: left;
  /* width: 396px; */
}

.login__form {
  /* max-width: 396px;
  width: 100%; */
}

.login__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.login__label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  padding: 0px 0px 11px;
  margin-bottom: 7px;
}

.login__input {
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding: 4px 0 0;
}

.login__input:focus {
  outline: none;
}

.login__error {
  display: block;
  min-height: 17px;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #FF004C;
}

.login__button {
  margin: 198px 0px 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: #3456F3;
  color: white;
  width: 396px;
  padding: 13px 0;
  border-radius: 3px;
  border: none;
}

.login__signup {
  all: unset;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 70px;
  color: #A0A0A0;
}

.login__link {
  text-decoration: none;
  color: #3456F3;
}